# Environment & Secrets
.env
.env.*

# Python, Caches & Environments
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/.venv/
**/venv/
**/env/
dist/
build/
.eggs/

# Testing, Linting & Reports
**/.pytest_cache/
**/.ruff_cache/
**/.coverage
htmlcov/

# IDEs & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
